<div class="flex flex-col {{ class }}">
    <label class="{{ labelClass }} mb-2 font-bold" *ngIf="label">
        {{ label
        }}<em
            *ngIf="required || formControlInput.hasValidator(requiredValidator)"
            >*</em
        >
    </label>
    <p-select
        [options]="transformedOptions"
        [formControl]="formControlInput"
        class="h-12"
        optionLabel="{{ optionLabel }}"
        optionValue="{{ optionValue }}"
        [filter]="filter"
        [editable]="editable"
        [showClear]="showClear"
        [filterBy]="filterBy"
        [placeholder]="placeholder"
        [virtualScroll]="lazy"
        [fluid]="fluid"
        [virtualScrollItemSize]="38"
        appendTo="body"
        styleClass="custom-dropdown {{ styleClass }} w-full"
        (onChange)="onSelectionChange($event)"
    >
        <ng-template let-opcion pTemplate="item">
            <div style="white-space: normal; word-break: break-word">
                {{ opcion[optionLabel] }}
            </div>
        </ng-template>
    </p-select>
    <div
        *ngIf="
            formControlInput.invalid &&
            (formControlInput.dirty || formControlInput.touched) &&
            showError
        "
        class="min-h-4"
    >
        <app-input-errors
            [formControlInput]="formControlInput"
        ></app-input-errors>
    </div>
</div>
