<div class="flex flex-col {{ class }}">
    <label class="{{ labelClass }} mb-1 text-sm font-medium" *ngIf="label">
        {{ label
        }}<em
            *ngIf="required || formControlInput.hasValidator(requiredValidator)"
            >*</em
        >
    </label>
    <p-selectbutton
        [options]="transformedOptions"
        [formControl]="formControlInput"
        optionLabel="{{ optionLabel }}"
        optionValue="{{ optionValue }}"
        aria-labelledby="basic"
        class="h-12"
        [unselectable]="true"
        [allowEmpty]="allowEmpty"
    />
    <div
        *ngIf="
            formControlInput.invalid &&
            (formControlInput.dirty || formControlInput.touched) &&
            showError
        "
        class="min-h-4"
    >
        <app-input-errors
            [formControlInput]="formControlInput"
        ></app-input-errors>
    </div>
</div>
