<div class="flex flex-col {{ class }}">
    <label
        *ngIf="label"
        [ngStyle]="{ color: textColor }"
        [for]="inputId"
        class="{{ labelClass }} mb-1 text-sm font-medium"
        >{{ label
        }}<em
            *ngIf="required || formControlInput.hasValidator(requiredValidator)"
            >*</em
        ></label
    >

    <!-- styleClass="w-full" -->
    <p-inputNumber
        [id]="inputId"
        class="h-10"
        [placeholder]="placeholder ? placeholder : ''"
        [formControl]="formControlInput"
        [min]="min"
        [max]="max"
        [mode]="mode"
        [minFractionDigits]="minFractionDigits"
        [maxFractionDigits]="maxFractionDigits"
        [showButtons]="true"
        [buttonLayout]="buttonLayout"
        [showButtons]="showButtons"
        styleClass="w-min-10"
        [invalid]="
            formControlInput.invalid &&
            (formControlInput.dirty || formControlInput.touched)
        "
        [fluid]="true"
        [ngClass]="{
            error:
                formControlInput.invalid &&
                (formControlInput.dirty || formControlInput.touched),
        }"
    />
    <div
        *ngIf="
            formControlInput.invalid &&
            (formControlInput.dirty || formControlInput.touched) &&
            showError
        "
        class="min-h-4"
    >
        <app-input-errors
            [formControlInput]="formControlInput"
        ></app-input-errors>
    </div>
</div>
