<div class="flex flex-col {{ class }}">
    <label
        [ngStyle]="{ color: textColor }"
        [for]="inputId"
        class="{{ labelClass }} mb-1  text-sm font-medium"
    >
        {{ label }}<em
        *ngIf="required || formControlInput.hasValidator(requiredValidator)"
        >*</em
    >
    </label>

    <p-password
        class=""
        appTrimInput
        [id]="inputId"
        [placeholder]="placeholder ? placeholder : ''"
        [formControl]="formControlInput"
        styleClass="h-12"
        [feedback]="false"
        [fluid]="true"
        [toggleMask]="true"
        [ngClass]="{
            error:
                formControlInput.invalid &&
                (formControlInput.dirty || formControlInput.touched),
        }"
        (input)="onInput($event)"
    />
    <div
        *ngIf="
            formControlInput.invalid &&
            (formControlInput.dirty || formControlInput.touched) &&
            showError
        "
        class="max-h-4"
    >
        <app-input-errors
            [formControlInput]="formControlInput"
        ></app-input-errors>
    </div>
</div>
